.png
{
    width: 140px;
    height: 200px;
}
.eachAnime{
    display: grid;
    width: 100%;
    height: 100%;
    margin-top: 15px;

    grid-template-areas:
    'a i';

    grid-template-columns: 200px 1fr ;
    grid-gap: 15px;
}
.rating{
    color: green;
}
.des{
    color: grey;
}
.dislike{
    color: black;
    border-radius: 5px;

}
.like{
    border-radius: 5px;
    color: red
}
.delete{
    border-radius: 5px;
    background-color: red;
    color: white;
    margin-left: 5px;
}

.name
{
    color: red;
    font-size: 25px;
}
.png
{
    margin-left: 40px;
    margin-top: 12px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.form
{
    margin-left: 40px;
}
.paginator
{
    margin-left: 30px;
}