.all {

    border-radius: 10px;
    padding: 5px;
    margin-top: 30px;
    margin-left: 50px;
    width: 350px;
    height: 470px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.date{
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    height: 13%;
    text-align: center;
    font-size: 30px;
}
.date:hover{
    transform: scale(1.1);
}
.vse{
    width: 100%;
    height: 75%;
    margin-top: 5%;

}
.allDays{
    cursor: pointer;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.selectedDay{
    cursor: pointer;
    text-align: center;
    background-color: #adc6ff;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.allDays:hover{
    font-size: 33px;
}


.prev{

    cursor: pointer;
    font-size: 30px;
}
.next{
    cursor: pointer;
    font-size: 30px;
}
.next:hover{
    color: grey;
}
.prev:hover{
    color: grey;
}
.month{  display: grid;
    grid-template-areas:
    'm n c';
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;

}
.exactDate{
margin-top: 4px;
    font-size: 25px;
}
.days{
    display: grid;
    width: 100%;
    height: 100%;

    font-size: 30px;
    grid-template-areas:
    'a a a a a a';

}
.page{
    height: 900px;
}
.allDates{
    font-size: 30px;
    position: absolute;
    margin-left: 500px;
    top: 100px;
    width: 350px;
    text-align: center;
}