.CreateNewPost
{
  color: red;
}

.button
{
  border-radius: 30px;
  color: blue;
}
.text
{
background-color: rgb(38, 194, 233);
}
.MyPostsAll
{
  padding: 10px;
}
.posts{
  margin-top: 10px;
  padding: 5px;

}