.header{
  grid-area: h;

    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/

}

.button1 {
    color: blue;
   font-size: 20px;
    height: 50px;
    margin-right: 5px;
}
.header img.logo{
  width: 160px;
  height: 60px;
}

.header img.track{
 height: 100%;
  margin-left: 10%;
}
.signIn
{
    margin-right: 20px;
    font-size: 25px;
}
.loginBlock{
    float: right;

}
.userAvatar
{
    margin-top: 5px;

    float: right;
    height: 60px;
    width: 60px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}