.header{
  grid-area: h;

    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/

}

.button1 {
    color: red;

}
.header img.logo{
  width: 160px;
  height: 60px;
}

.header img.track{
 height: 100%;
  margin-left: 10%;
}
.signIn
{

    margin-right: 20px;
    font-size: 25px;
}
.loginBlock{
    float: right;

}
.userAvatar
{
    float: right;
    height: 50px;
    width: 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}