
.app-wrapper{
  display: grid;
  width: 1200px;
  height: 800px;
  margin: 0 auto;

  grid-template-areas:
  'h h '
  'n c ';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 180px 8fr ;
  grid-gap: 15px;
}
.app-wrapper-content{
  grid-area: c;
  background-color: rgb(190, 204, 229);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }

.menuShadow{


}
.logo1{
  width: 200px;
  height: 64px;
}
.weather{
  padding-top: 10px;
  height: 100px;
}